nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}

nav ul {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style: none;
  gap: 3px;
}
nav ul li a{
  display: block;
  background-color: aquamarine;
}

nav h1{
  animation: majuMundur 1s infinite;
  text-align: center;
}

@keyframes majuMundur {
  0% {
    left: 20px;
  }
  50% {
    left: 50px;
  }
  100% {
    left: 100px;
  }
}